@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux personnalisés */
body {
  font-family: 'Inter', sans-serif;
  overscroll-behavior-y: none;
  touch-action: manipulation;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

/* Masquer la scrollbar tout en permettant le scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
